.wrapper {
    background-color: white;
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
}

.data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(160px + 1em));
    transition: transform 0.3s;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    color: #1a1a1a;
    box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
}

hr {
    border: 1px solid #808080;
    background-color: #808080;
    border-radius: 1px;
    width: 30px;
    position: relative;
    top: 5px;
}

.title {
    margin-top: 14px;
    margin-bottom: 0px;
    font-size: 24px;
}

.text {
    height: 160px;
    margin: 0px;
    line-height: 1.5;
    color: #1a1a1a;
}

.wrapper {
    background-size: 300px auto;
    background-repeat: no-repeat;
}

.date {
    font-size: 14px;
    margin-top: 24px;
    color: #808080;
    font-weight: 400;
}

.span {
    display: block;
    text-align: center;
}

.data:hover {
    transform: translateY(0);
}

a{
    color: #1a1a1a;
}

a:visited {
    color: #5c1c5c;
}
 



.blog-grid {
    display: grid;
    grid-gap: 3rem;
    grid-template-rows: repeat(4, 428px);
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    padding-top: 20px;
}

@media (max-width: 660px) {
    .blog-grid {
        display: grid;
        grid-template-columns: repeat(1, 300px);
    }
}

@media (min-width: 661px) {
    .blog-grid {
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }
}

@media (min-width: 1100px) {
    .blog-grid {
        display: grid;
        grid-template-columns: repeat(3, 300px);
    }
}

@media (min-width: 1500px) {
        .blog-grid {
            display: grid;
            grid-template-columns: repeat(4, 300px);
        }
}