@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Mobile Home */

body {
  margin: 0;
  padding: 0;
}

.nav-img {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}


/* 48em = 768px */

@media (min-width: 62em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.gs-intro h1 {
  font-family: "Libre Franklin";
  font-weight: 600;
  font-size: 24px;
  padding-top: 200px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0;
}

.animation_fill img {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.copyright {
  padding-top: 15px;
}

.grants img {
  height: 40px;
  padding: 15px;
  padding-top: 30px;
}

.social-media img {
  height: 30px;
  padding: 8px;
  width: auto;
}

.social-media {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-top: 10px;
}

.footer-pages {
  padding-top: 10px;
}

.footer-pages a {
  text-decoration: none;
  color: #161616;
}


.flipCard {
  transition: all 0.6s;
}
.flipCard:hover {
  /* animation: in 0.6s ease-in-out forwards; */
  transform: scale(1.05);
}
@keyframes in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes out {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

.flipCard {
  margin: 0px;
  height: 400px;
  width: 300px;
  overflow: visible;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); */
}

.card{
  height: 400px;
  width: 300px;
  border-radius: 0px;
}

.person-card-watercolor-back {
  position: absolute;
  bottom: 0;
  border-radius: 0;
  border: none;
}

.flipCard .card.flipped {
  transform: rotatey(-180deg);
}

.flipCard .card {
  height: 400px;
  width: 300px;
  transform-style: preserve-3d;
  transition: 1s;
  border: none;
}

.flipCard .card .side {
  height: 400px;
  width: 300px;
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  border: none;
  border-radius: 10px;
  background-color: #FCFCFC;
}

.flipCard .card .back {
  height: 400px;
  width: 300px;
  transform: rotatey(-180deg);
}


.tile-back {
  z-index: -5;
  backface-visibility: hidden;
}

/* .flex-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          box-sizing: border-box;
        } */

.gs-card-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  }


.img-front {
  border-radius: 10px;
}

.people-img {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
  display: block;
  /* margin-top: -90px; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
}

.people-name {
  font-family: "Libre Franklin";
  text-align: center;
  line-height: 35px;
  font-size: 25px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.people-title {
  font-size: 12px;
  text-align: center;
  margin: 10px;
  line-height: 20px;
  font-family: "Libre Franklin";
}

.people-desc {
  margin: 0;
  padding: 1.5em;
  font-size: 14px;
  font-family: "Libre Franklin";
  text-align: left;
}

.linkedin {
  height: 10%;
  width: auto;
  position: absolute;
  margin-top: 110%;
  margin-right: 75%;
}

.title-new {
  width: 250px;
  height: 80px;
  object-fit: contain;
}


.desc {
  margin: 0px;
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#button {
  color: white;
  font-size: 120%;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 10px;
  font-family: "Libre Franklin", Arial, Helvetica, sans-serif;
}

.btn-bol {
  color: white;
  background-color: #246481;
  border: 2px solid #246481;
}

.link {
  position: absolute;
  bottom: 35px;
}

.btn-blog {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn-bol:hover {
  background-color: white;
  color: #246481;
}

.btn-cvr {
  color: white;
  background-color: #9d8d32;
  border: 2px solid #9d8d32;
}

.btn-cvr:hover {
  background-color: white;
  color: #9d8d32;
  border: 2px solid #9d8d32;
}

.btn-c600 {
  color: white;
  background-color: #8cc947;
  border: 2px solid #8cc947;
}

.btn-c600:hover {
  background-color: white;
  color: #8cc947;
  border: 2px solid #8cc947;
}

.btn-eer {
  color: white;
  background-color: #b7c238;
  border: 2px solid #b7c238;
}

.btn-eer:hover {
  background-color: white;
  color: #b7c238;
  border: 2px solid #b7c238;
}

.btn-fino {
  color: white;
  background-color: #659370;
  border: 2px solid #659370;
}

.btn-fino:hover {
  background-color: white;
  color: #659370;
  border: 2px solid #659370;
}

.btn-flusser {
  color: white;
  background-color: #2b2d42;
  border: 2px solid #2b2d42;
}

.btn-flusser:hover {
  background-color: white;
  color: #2b2d42;
  border: 2px solid #2b2d42;
}

.btn-hartford {
  color: white;
  background-color: #509ec8;
  border: 2px solid #509ec8;
}

.btn-hartford:hover {
  background-color: white;
  color: #509ec8;
  border: 2px solid #509ec8;
}

.btn-husky {
  color: white;
  background-color: #36296b;
  border: 2px solid #36296b;
}

.btn-husky:hover {
  background-color: white;
  color: #36296b;
  border: 2px solid #36296b;
}

.btn-landgrab {
  color: white;
  background-color: #ae6046;
  border: 2px solid #ae6046;
}

.btn-landgrab:hover {
  background-color: white;
  color: #ae6046;
  border: 2px solid #ae6046;
}

.btn-leamh {
  color: white;
  background-color: #000000;
  border: 2px solid #000000;
}

.btn-leamh:hover {
  background-color: white;
  color: #000000;
  border: 2px solid #000000;
}

.btn-museums {
  color: white;
  background-color: #8cc947;
  border: 2px solid #8cc947;
}

.btn-museums:hover {
  background-color: white;
  color: #8cc947;
  border: 2px solid #8cc947;
}

.btn-overrated {
  color: white;
  background-color: #b7c238;
  border: 2px solid #b7c238;
}

.btn-overrated:hover {
  background-color: white;
  color: #b7c238;
  border: 2px solid #b7c238;
}

.btn-sourcery {
  color: white;
  background-color: #6a52a5;
  border: 2px solid #6a52a5;
}

.btn-sourcery:hover {
  background-color: white;
  color: #6a52a5;
  border: 2px solid #6a52a5;
}

@font-face {
  font-family: samo;
  src: url("SAMO-Regular.ttf");
}

.grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-rows: repeat(4, 300px);
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 5px;
}


@media (max-width: 660px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 300px);
  }
}

@media (min-width: 661px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
  }
}

@media (min-width: 1010px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
  }
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div .form {
  border-radius: 0px;
  background-color: #f2f2f2;
  padding: 20px;
  z-index: 10;
}

form {
  width: 50%;
  margin: auto;
}

.page-title {
  font-family: "Libre Franklin", Helvetica, Arial, san-serif;
  padding-bottom: 16px;
  margin-top: 0;
  font-weight: bold;
}


